<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/min.css">
     <link rel="stylesheet" href="../css/navstyle.css">
       <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="560">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>
</div>


    <div id='cssnav'>
      <ul>
      <a href="http://learnline.cdu.edu.au/studyskills/index.html"><img src="../images/logo.jpg" class="logo-image" alt="Charles Darwin University"></a>
       <li ><a href='#'>CDU Home</a></li>
       <li><a href='#'>Courses</a></li>
       <li><a href='#'>Faculties & Schools</a></li>
       <li><a href='#'>Learning & Teachings</a></li>
       <li><a href='#'>Library</a></li>
       <li><a href='#'>Campuses & Centres</a></li>
       <li><a href='#'>Contact Us</a></li>
       <li><a href='#'>Site Map</a></li>
       <!--search-->
       <input type="text" id="search" name="search"  placeholder="SEARCH HERE" />

    </ul>
  </div>

    <div class="bread-crumb-pagination">
      <ul>
        <li><a href="http://learnline.cdu.edu.au/studyskills/index.html">Study Skills</a></li>
        <li>Academic Assignments</li>
      </ul>
    </div>

    <div class="page-title">
      <h1>Academic Assignment</h1>
    </div>


    <div id="sidebar" onclick="toggleSidebar()">
        <div class="toggle-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="navigation">
          <ul class="mainmenu">

            <li><a href="#">Academic Assignments</a>
               <ul class="submenu">
                 <li><a href="#">Essays</a></li>
                 <li><a href="#">Reports</a></li>
                 <li><a href="#">Other Assignment Types</a><li>
                </ul>
              </li>

            <li><a href="#">Critical Thinking</a>
               <ul class="submenu">
                 <li><a href="#">Critical Thinking at University</a></li>
               </ul>
             </li>

             <li><a href="#">Note Making</a>
                <ul class="submenu">
                  <li><a href="#">Effective Note Making</a></li>
                  <li><a href="#">Strategies</a></li>
                 </ul>
               </li>

               <li><a href="#">Videos & Interactives</a>
                  <ul class="submenu">
                    <li><a href="#">Video Resources</a></li>
                    <li><a href="#">Interactive Resources</a></li>
                   </ul>
                 </li>
                <li><a href="#">Exams</a>
                <li><a href="#">Academic Writing</a>
                <li><a href="#">Referencing</a>
                <li><a href="#">Exams</a>
                <li><a href="#">Research and Reading</a>
                <li><a href="#">Managing Studies</a>

        <button >Learnline Login</button>
           </nav>

      </div>


    <div class="main">
      <img src="../images/cdu.jpg" alt="" >
    </div>

    <div class="Design">
      <h3> Eassy </h3>
      <img src="../images/photo.JPG.jpg" alt="" width="100%">
    <div class="container">
      <p>In this section you will find information related to eassys writtings </p>
      <ul>
        <li> <a href="http://learnline.cdu.edu.au/studyskills/studyskills/draftingessays.html" target="_blank">Drafting essays </a> </li>
        <li>  <a href="http://learnline.cdu.edu.au/studyskills/studyskills/constructingessays.html" target="_blank">Constructing essays</a> </li>
      </ul>
    </div>
  </div>

    <div class="Design">
      <h3> Reports </h3>
      <img src="../images/photo.JPG.jpg" alt="" width="100%">
    <div class="container">
      <p>In this section you will find information related to Report writtings </p>
      <ul>
        <li>  <a href="http://learnline.cdu.edu.au/studyskills/studyskills/constructingessays.html" target="_blank">Reports</a> </li>
        <li>  <a href="http://learnline.cdu.edu.au/studyskills/studyskills/sampleessay.html" target="_blank">Tips on Reporting</a> </li>
      </ul>
    </div>
  </div>

  <div class="Design">
    <h3>Other Assignments type </h3>
    <img src="../images/photo.JPG.jpg" alt="" width="100%">
  <div class="container">
    <p>In this section you will find information related to Other Assignment type. </p>
    <ul>
      <li> <a href="http://learnline.cdu.edu.au/studyskills/studyskills/draftingessays.html" target="_blank">Critique </a> </li>
      <li>  <a href="http://learnline.cdu.edu.au/studyskills/studyskills/constructingessays.html" target="_blank">Annotated Bibliography</a> </li>
    </ul>
  </div>
</div>



    <div class="footer">
      <div class="legal">
        @DESIGN BY CDU
        <ul class="authority">
        </div>
      </div>


    <script src="../js/myscript.js"></script>
  </body>
</html>
