*{
  margin:0px;
  padding:1px;
  box-sizing:border-box;
}
body{
  background:white;
}
.header-logo{
  margin:10px;
  display: inline-flex;
  display:block;
    padding:5px;
  }



.main img{
  width:37%;
  margin:15px;
  border-radius: 7px;
  height:250px;
  display: inline-flex;
}
.header-logo img{
  width:30%;
  opacity:9s;
}

.header-logo a{
  cursor: pointer;
}

/*Styling breadcrumb pagination.*/
.bread-crumb-pagination ul li{
  list-style: none;
  display: inline-flex;
  padding:5px;
  font-size: 16px;

}

.bread-crumb-pagination li+li:before{
  content:"/\00a0\00a0";
}

.bread-crumb-pagination a{
  text-decoration: none;
  color:#e9281f;
  font-weight: bold;
  cursor: pointer;
}

/*Styling the page title.*/
.page-title h1{
  font-family: 'Nunito', sans-serif;
  background-color: #211545;
  color:white;
  border:40px;
  width:100%;
  padding:25px;

}

/*Styling Footer*/
.footer{
  border:1px solid grey;
  bottom:2px;
  position: bottom;
  background-color:#211545;;
  padding:25px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}



/*Styling legal information at footer.*/
.legal{
	padding: 30px;
  display:inline-flex;
  color:white;
  font-size: 30px;;
}


}

/*Responsive CSS*/

.logo-image{
    float: left;
    display:inline-flex;
    height:20%;
    width:20%;
  }

  @media screen and (min-width:600px){
  .main img{
    width:50%;
    margin:15px;
    border-radius: 10px;
    height:450px;
    display: inline;
  }

  .legal li {
  	display: inline-flex;
    padding:5px;
  }
  .logo-image{
      float: left;
      display:inline-flex;
      height:20%;
      width:20%;
    }

}

.Design {
  display: inline-grid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  min-height: 500px;
  border-radius: 20px;
  border-top: 5px solid #211545;;
  border-bottom: 5px solid #d1d2da;
  margin:40px;

}

.Design:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.Design h3{
  margin-left: 40px;
  font-size: 20px;
  font-family: monospace;
}
 .Design img{
   margin-top: 10px;
   border-top-left-radius:5px;
   border-top-right-radius: 5px;
   height: 200px;
   margin-bottom: 20px;
 }
 .container p{
     font-size: 18px;
}

 .container ul li{
   font-size: 18px;
   padding-top: 10px;
   color:brown;
   margin-left:15px;
}
.container ul li a{
  color:black;
  font-size: 18px;
}
.container ul li a:hover{
  color:#993232;
  letter-spacing: 1px;

}

@media screen and (min-width:550px) {
  .Design, .p {
    width:25%;
    height: 40px;
  }


  @media screen and (min-width:1000px) {
    .container {
      width:100%
    }
    }
