.submenu{
  overflow: hidden;

  max-height: 0.1px;
  -webkit-transition: all 0.5s ease-out;
  text-align: left;
  font-size: 12px;
  margin:5px;

}

.mainmenu li:hover .submenu{

  max-height: 230px;


}


.mainmenu{
  font-size: 14px;
  background-color:  #211545;
  margin: 0;
  color: white;
  font-weight: bolder;
  font-variant: norm
}

.mainmenu a:hover{
  color: black;
  background-color: white;
  font-style: normal;
  display: inline-flex;

}

.mainmenu a{
  display: inherit;
  color: white;
  height: 20px;
  text-decoration: none;
}

button {
  background-color: white;
  color: #211545;
  border-radius: 2px;
  padding: 14px 52px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  font-family: monospace;

}

button:hover {
  opacity: 1;
  background-color: Grey;
  display:block;
  color: white;
  font-family: monospace;
}
.navigation{
  width: 200px;
  height: 400px;
  display: grid;
  padding-left: 20px;
  padding-top: 20px;
}

.navigation ul{
  display:inline-flex;;
  list-style: none;
  flex-direction:column;
  justify-content: space-around;
}
nav{
  float: left;
}


/*try gsreko css*/
#sidebar {
  position:relative;
  display: inline-flex;
  left:-230px;
  transition:all 500ms linear;
  float:left;
  opacity: 1;
  cursor: pointer;
}


#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  list-style: none;

}
.toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
.toggle-btn span{
  display:block;
  width:30px;
  height:5px;
  background-color:black;
  margin:3px;
}
